<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>
  Class: Prismic::Fragments::StructuredText::Block::Embed
  
    &mdash; Documentation by YARD 0.8.7.4
  
</title>

  <link rel="stylesheet" href="../../../../css/style.css" type="text/css" charset="utf-8" />

  <link rel="stylesheet" href="../../../../css/common.css" type="text/css" charset="utf-8" />

<script type="text/javascript" charset="utf-8">
  hasFrames = window.top.frames.main ? true : false;
  relpath = '../../../../';
  framesUrl = "../../../../frames.html#!Prismic/Fragments/StructuredText/Block/Embed.html";
</script>


  <script type="text/javascript" charset="utf-8" src="../../../../js/jquery.js"></script>

  <script type="text/javascript" charset="utf-8" src="../../../../js/app.js"></script>


  </head>
  <body>
    <div id="header">
      <div id="menu">
  
    <a href="../../../../_index.html">Index (E)</a> &raquo;
    <span class='title'><span class='object_link'><a href="../../../../Prismic.html" title="Prismic (module)">Prismic</a></span></span> &raquo; <span class='title'><span class='object_link'><a href="../../../Fragments.html" title="Prismic::Fragments (module)">Fragments</a></span></span> &raquo; <span class='title'><span class='object_link'><a href="../../StructuredText.html" title="Prismic::Fragments::StructuredText (class)">StructuredText</a></span></span> &raquo; <span class='title'><span class='object_link'><a href="../Block.html" title="Prismic::Fragments::StructuredText::Block (class)">Block</a></span></span>
     &raquo; 
    <span class="title">Embed</span>
  

  <div class="noframes"><span class="title">(</span><a href="." target="_top">no frames</a><span class="title">)</span></div>
</div>

      <div id="search">
  
    <a class="full_list_link" id="class_list_link"
        href="../../../../class_list.html">
      Class List
    </a>
  
    <a class="full_list_link" id="method_list_link"
        href="../../../../method_list.html">
      Method List
    </a>
  
    <a class="full_list_link" id="file_list_link"
        href="../../../../file_list.html">
      File List
    </a>
  
</div>
      <div class="clear"></div>
    </div>

    <iframe id="search_frame"></iframe>

    <div id="content"><h1>Class: Prismic::Fragments::StructuredText::Block::Embed
  
  
  
</h1>

<dl class="box">
  
    <dt class="r1">Inherits:</dt>
    <dd class="r1">
      <span class="inheritName"><span class='object_link'><a href="../Block.html" title="Prismic::Fragments::StructuredText::Block (class)">Prismic::Fragments::StructuredText::Block</a></span></span>
      
        <ul class="fullTree">
          <li>Object</li>
          
            <li class="next"><span class='object_link'><a href="../Block.html" title="Prismic::Fragments::StructuredText::Block (class)">Prismic::Fragments::StructuredText::Block</a></span></li>
          
            <li class="next">Prismic::Fragments::StructuredText::Block::Embed</li>
          
        </ul>
        <a href="#" class="inheritanceTree">show all</a>
      
      </dd>
    
  
  
    
  
    
  
  
  
    <dt class="r2 last">Defined in:</dt>
    <dd class="r2 last">lib/prismic/fragments/structured_text.rb</dd>
  
</dl>
<div class="clear"></div>





  <h2>Instance Attribute Summary <small>(<a href="#" class="summary_toggle">collapse</a>)</small></h2>
  <ul class="summary">
    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#label-instance_method" title="#label (instance method)">- (Object) <strong>label</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute label.</p>
</div></span>
  
</li>

    
  </ul>




  
    <h2>
      Instance Method Summary
      <small>(<a href="#" class="summary_toggle">collapse</a>)</small>
    </h2>

    <ul class="summary">
      
        <li class="public ">
  <span class="summary_signature">
    
      <a href="#as_html-instance_method" title="#as_html (instance method)">- (Object) <strong>as_html</strong>(link_resolver, html_serializer = nil) </a>
    

    
  </span>
  
  
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'></div></span>
  
</li>

      
        <li class="public ">
  <span class="summary_signature">
    
      <a href="#initialize-instance_method" title="#initialize (instance method)">- (Embed) <strong>initialize</strong>(embed, label) </a>
    

    
  </span>
  
  
    <span class="note title constructor">constructor</span>
  
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>A new instance of Embed.</p>
</div></span>
  
</li>

      
    </ul>
  


  
  
  
  
  
  
  
  
  <h3 class="inherited">Methods inherited from <span class='object_link'><a href="../Block.html" title="Prismic::Fragments::StructuredText::Block (class)">Prismic::Fragments::StructuredText::Block</a></span></h3>
  <p class="inherited"><span class='object_link'><a href="../Block.html#as_text-instance_method" title="Prismic::Fragments::StructuredText::Block#as_text (method)">#as_text</a></span></p>
<div id="constructor_details" class="method_details_list">
  <h2>Constructor Details</h2>
  
    <div class="method_details first">
  <h3 class="signature first" id="initialize-instance_method">
  
    - (<tt><span class='object_link'><a href="" title="Prismic::Fragments::StructuredText::Block::Embed (class)">Embed</a></span></tt>) <strong>initialize</strong>(embed, label) 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns a new instance of Embed</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


375
376
377
378</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/prismic/fragments/structured_text.rb', line 375</span>

<span class='kw'>def</span> <span class='id identifier rubyid_initialize'>initialize</span><span class='lparen'>(</span><span class='id identifier rubyid_embed'>embed</span><span class='comma'>,</span> <span class='id identifier rubyid_label'>label</span><span class='rparen'>)</span>
  <span class='ivar'>@embed</span> <span class='op'>=</span> <span class='id identifier rubyid_embed'>embed</span>
  <span class='ivar'>@label</span> <span class='op'>=</span> <span class='id identifier rubyid_label'>label</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
  
</div>

  <div id="instance_attr_details" class="attr_details">
    <h2>Instance Attribute Details</h2>
    
      
      <span id="label=-instance_method"></span>
      <div class="method_details first">
  <h3 class="signature first" id="label-instance_method">
  
    - (<tt>Object</tt>) <strong>label</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute label</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


373
374
375</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/prismic/fragments/structured_text.rb', line 373</span>

<span class='kw'>def</span> <span class='id identifier rubyid_label'>label</span>
  <span class='ivar'>@label</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
  </div>


  <div id="instance_method_details" class="method_details_list">
    <h2>Instance Method Details</h2>

    
      <div class="method_details first">
  <h3 class="signature first" id="as_html-instance_method">
  
    - (<tt>Object</tt>) <strong>as_html</strong>(link_resolver, html_serializer = nil) 
  

  

  
</h3><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


380
381
382
383
384
385
386
387
388
389
390</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/prismic/fragments/structured_text.rb', line 380</span>

<span class='kw'>def</span> <span class='id identifier rubyid_as_html'>as_html</span><span class='lparen'>(</span><span class='id identifier rubyid_link_resolver'>link_resolver</span><span class='comma'>,</span> <span class='id identifier rubyid_html_serializer'>html_serializer</span> <span class='op'>=</span> <span class='kw'>nil</span><span class='rparen'>)</span>
  <span class='id identifier rubyid_custom'>custom</span> <span class='op'>=</span> <span class='kw'>nil</span>
  <span class='kw'>unless</span> <span class='id identifier rubyid_html_serializer'>html_serializer</span><span class='period'>.</span><span class='id identifier rubyid_nil?'>nil?</span>
    <span class='id identifier rubyid_custom'>custom</span> <span class='op'>=</span> <span class='id identifier rubyid_html_serializer'>html_serializer</span><span class='period'>.</span><span class='id identifier rubyid_serialize'>serialize</span><span class='lparen'>(</span><span class='kw'>self</span><span class='comma'>,</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_end'>&#39;</span></span><span class='rparen'>)</span>
  <span class='kw'>end</span>
  <span class='kw'>if</span> <span class='id identifier rubyid_custom'>custom</span><span class='period'>.</span><span class='id identifier rubyid_nil?'>nil?</span>
    <span class='id identifier rubyid_embed'>embed</span><span class='period'>.</span><span class='id identifier rubyid_as_html'>as_html</span><span class='lparen'>(</span><span class='id identifier rubyid_link_resolver'>link_resolver</span><span class='rparen'>)</span>
  <span class='kw'>else</span>
    <span class='id identifier rubyid_custom'>custom</span>
  <span class='kw'>end</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
  </div>

</div>

    <div id="footer">
  Generated on Wed Oct 29 11:21:12 2014 by
  <a href="http://yardoc.org" title="Yay! A Ruby Documentation Tool" target="_parent">yard</a>
  0.8.7.4 (ruby-2.0.0).
</div>

  </body>
</html>