<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>
  Class: Prismic::Fragments::StructuredText::Block::ListItem
  
    &mdash; Documentation by YARD 0.8.7.4
  
</title>

  <link rel="stylesheet" href="../../../../css/style.css" type="text/css" charset="utf-8" />

  <link rel="stylesheet" href="../../../../css/common.css" type="text/css" charset="utf-8" />

<script type="text/javascript" charset="utf-8">
  hasFrames = window.top.frames.main ? true : false;
  relpath = '../../../../';
  framesUrl = "../../../../frames.html#!Prismic/Fragments/StructuredText/Block/ListItem.html";
</script>


  <script type="text/javascript" charset="utf-8" src="../../../../js/jquery.js"></script>

  <script type="text/javascript" charset="utf-8" src="../../../../js/app.js"></script>


  </head>
  <body>
    <div id="header">
      <div id="menu">
  
    <a href="../../../../_index.html">Index (L)</a> &raquo;
    <span class='title'><span class='object_link'><a href="../../../../Prismic.html" title="Prismic (module)">Prismic</a></span></span> &raquo; <span class='title'><span class='object_link'><a href="../../../Fragments.html" title="Prismic::Fragments (module)">Fragments</a></span></span> &raquo; <span class='title'><span class='object_link'><a href="../../StructuredText.html" title="Prismic::Fragments::StructuredText (class)">StructuredText</a></span></span> &raquo; <span class='title'><span class='object_link'><a href="../Block.html" title="Prismic::Fragments::StructuredText::Block (class)">Block</a></span></span>
     &raquo; 
    <span class="title">ListItem</span>
  

  <div class="noframes"><span class="title">(</span><a href="." target="_top">no frames</a><span class="title">)</span></div>
</div>

      <div id="search">
  
    <a class="full_list_link" id="class_list_link"
        href="../../../../class_list.html">
      Class List
    </a>
  
    <a class="full_list_link" id="method_list_link"
        href="../../../../method_list.html">
      Method List
    </a>
  
    <a class="full_list_link" id="file_list_link"
        href="../../../../file_list.html">
      File List
    </a>
  
</div>
      <div class="clear"></div>
    </div>

    <iframe id="search_frame"></iframe>

    <div id="content"><h1>Class: Prismic::Fragments::StructuredText::Block::ListItem
  
  
  
</h1>

<dl class="box">
  
    <dt class="r1">Inherits:</dt>
    <dd class="r1">
      <span class="inheritName"><span class='object_link'><a href="Text.html" title="Prismic::Fragments::StructuredText::Block::Text (class)">Text</a></span></span>
      
        <ul class="fullTree">
          <li>Object</li>
          
            <li class="next"><span class='object_link'><a href="Text.html" title="Prismic::Fragments::StructuredText::Block::Text (class)">Text</a></span></li>
          
            <li class="next">Prismic::Fragments::StructuredText::Block::ListItem</li>
          
        </ul>
        <a href="#" class="inheritanceTree">show all</a>
      
      </dd>
    
  
  
    
  
    
  
  
  
    <dt class="r2 last">Defined in:</dt>
    <dd class="r2 last">lib/prismic/fragments/structured_text.rb</dd>
  
</dl>
<div class="clear"></div>





  <h2>Instance Attribute Summary <small>(<a href="#" class="summary_toggle">collapse</a>)</small></h2>
  <ul class="summary">
    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#ordered-instance_method" title="#ordered (instance method)">- (Object) <strong>ordered</strong> </a>
    

    
      (also: #ordered?)
    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute ordered.</p>
</div></span>
  
</li>

    
  </ul>



  
  
  <h3 class="inherited">Attributes inherited from <span class='object_link'><a href="Text.html" title="Prismic::Fragments::StructuredText::Block::Text (class)">Text</a></span></h3>
  <p class="inherited"><span class='object_link'><a href="Text.html#label-instance_method" title="Prismic::Fragments::StructuredText::Block::Text#label (method)">#label</a></span>, <span class='object_link'><a href="Text.html#spans-instance_method" title="Prismic::Fragments::StructuredText::Block::Text#spans (method)">#spans</a></span>, <span class='object_link'><a href="Text.html#text-instance_method" title="Prismic::Fragments::StructuredText::Block::Text#text (method)">#text</a></span></p>


  
    <h2>
      Instance Method Summary
      <small>(<a href="#" class="summary_toggle">collapse</a>)</small>
    </h2>

    <ul class="summary">
      
        <li class="public ">
  <span class="summary_signature">
    
      <a href="#as_html-instance_method" title="#as_html (instance method)">- (Object) <strong>as_html</strong>(link_resolver, html_serializer = nil) </a>
    

    
  </span>
  
  
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'></div></span>
  
</li>

      
        <li class="public ">
  <span class="summary_signature">
    
      <a href="#initialize-instance_method" title="#initialize (instance method)">- (ListItem) <strong>initialize</strong>(text, spans, ordered, label = nil) </a>
    

    
  </span>
  
  
    <span class="note title constructor">constructor</span>
  
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>A new instance of ListItem.</p>
</div></span>
  
</li>

      
    </ul>
  


  
  
  
  
  
  
  
  
  <h3 class="inherited">Methods inherited from <span class='object_link'><a href="Text.html" title="Prismic::Fragments::StructuredText::Block::Text (class)">Text</a></span></h3>
  <p class="inherited"><span class='object_link'><a href="Text.html#as_text-instance_method" title="Prismic::Fragments::StructuredText::Block::Text#as_text (method)">#as_text</a></span>, <span class='object_link'><a href="Text.html#prepare_spans-instance_method" title="Prismic::Fragments::StructuredText::Block::Text#prepare_spans (method)">#prepare_spans</a></span>, <span class='object_link'><a href="Text.html#serialize-instance_method" title="Prismic::Fragments::StructuredText::Block::Text#serialize (method)">#serialize</a></span></p>
<div id="constructor_details" class="method_details_list">
  <h2>Constructor Details</h2>
  
    <div class="method_details first">
  <h3 class="signature first" id="initialize-instance_method">
  
    - (<tt><span class='object_link'><a href="" title="Prismic::Fragments::StructuredText::Block::ListItem (class)">ListItem</a></span></tt>) <strong>initialize</strong>(text, spans, ordered, label = nil) 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns a new instance of ListItem</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


308
309
310
311</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/prismic/fragments/structured_text.rb', line 308</span>

<span class='kw'>def</span> <span class='id identifier rubyid_initialize'>initialize</span><span class='lparen'>(</span><span class='id identifier rubyid_text'>text</span><span class='comma'>,</span> <span class='id identifier rubyid_spans'>spans</span><span class='comma'>,</span> <span class='id identifier rubyid_ordered'>ordered</span><span class='comma'>,</span> <span class='id identifier rubyid_label'>label</span> <span class='op'>=</span> <span class='kw'>nil</span><span class='rparen'>)</span>
  <span class='kw'>super</span><span class='lparen'>(</span><span class='id identifier rubyid_text'>text</span><span class='comma'>,</span> <span class='id identifier rubyid_spans'>spans</span><span class='comma'>,</span> <span class='id identifier rubyid_label'>label</span><span class='rparen'>)</span>
  <span class='ivar'>@ordered</span> <span class='op'>=</span> <span class='id identifier rubyid_ordered'>ordered</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
  
</div>

  <div id="instance_attr_details" class="attr_details">
    <h2>Instance Attribute Details</h2>
    
      
      <span id="ordered=-instance_method"></span>
      <div class="method_details first">
  <h3 class="signature first" id="ordered-instance_method">
  
    - (<tt>Object</tt>) <strong>ordered</strong> 
  

  
    <span class="aliases">Also known as:
    <span class="names"><span id='ordered?-instance_method'>ordered?</span></span>
    </span>
  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute ordered</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


305
306
307</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/prismic/fragments/structured_text.rb', line 305</span>

<span class='kw'>def</span> <span class='id identifier rubyid_ordered'>ordered</span>
  <span class='ivar'>@ordered</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
  </div>


  <div id="instance_method_details" class="method_details_list">
    <h2>Instance Method Details</h2>

    
      <div class="method_details first">
  <h3 class="signature first" id="as_html-instance_method">
  
    - (<tt>Object</tt>) <strong>as_html</strong>(link_resolver, html_serializer = nil) 
  

  

  
</h3><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


313
314
315
316
317
318
319
320</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/prismic/fragments/structured_text.rb', line 313</span>

<span class='kw'>def</span> <span class='id identifier rubyid_as_html'>as_html</span><span class='lparen'>(</span><span class='id identifier rubyid_link_resolver'>link_resolver</span><span class='comma'>,</span> <span class='id identifier rubyid_html_serializer'>html_serializer</span><span class='op'>=</span><span class='kw'>nil</span><span class='rparen'>)</span>
  <span class='id identifier rubyid_custom_html'>custom_html</span> <span class='op'>=</span> <span class='id identifier rubyid_html_serializer'>html_serializer</span> <span class='op'>&amp;&amp;</span> <span class='id identifier rubyid_html_serializer'>html_serializer</span><span class='period'>.</span><span class='id identifier rubyid_serialize'>serialize</span><span class='lparen'>(</span><span class='kw'>self</span><span class='comma'>,</span> <span class='kw'>super</span><span class='rparen'>)</span>
  <span class='kw'>if</span> <span class='id identifier rubyid_custom_html'>custom_html</span><span class='period'>.</span><span class='id identifier rubyid_nil?'>nil?</span>
    <span class='tstring'><span class='tstring_beg'>%(</span><span class='tstring_content'>&lt;li</span><span class='embexpr_beg'>#{</span><span class='id identifier rubyid_class_code'>class_code</span><span class='embexpr_end'>}</span><span class='tstring_content'>&gt;</span><span class='embexpr_beg'>#{</span><span class='kw'>super</span><span class='embexpr_end'>}</span><span class='tstring_content'>&lt;/li&gt;</span><span class='tstring_end'>)</span></span>
  <span class='kw'>else</span>
    <span class='id identifier rubyid_custom_html'>custom_html</span>
  <span class='kw'>end</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
  </div>

</div>

    <div id="footer">
  Generated on Wed Oct 29 11:12:50 2014 by
  <a href="http://yardoc.org" title="Yay! A Ruby Documentation Tool" target="_parent">yard</a>
  0.8.7.4 (ruby-2.0.0).
</div>

  </body>
</html>